*{
    margin: 0;
    padding: 0;
}

html{
    background: #fff;
    font-size: 24px;
}


aside{
    width: 40%;
    padding: 10px;
    margin: 15px;
    float: left;
    font-style: italic;
    background: #eefd99;

}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8em;
}

header{
    width: 100%;
    height: 50px;
    background: #51a5ff;
    /*box-shadow: 1px 1px 50px #03285f;*/
    position: fixed;
    
}

#menu{
    width: 750px;
    padding-top: 5px;
    margin: auto;
}

#menu ul a{
    color: #242424; 
    text-decoration: none;
    font: 16px;
    padding: 15px 20px 19px 20px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

h4{
    text-align: center;
    justify-content: center;
    align-items: center;
}

#menu ul a:hover{
    color: #000000;
    background: #c40c0c;
}

figure{
    margin: 50px;
}


/*----------------------------------------- Redes Sociales ----------------------------------------*/


footer{
    width: 800px auto; height: 100px;
    background: #3240ff;
}

redes{
    padding: 10px;

}

#redes h3{
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
}

#sociales{
    width: 350px; text-align: center;
}

#sociales li{
    display: inline-block;
}

ul{
    margin: auto; 
    list-style: none;
}